<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shipping.repository.OrderedItemMapper">

    <insert id="insertOrderedItem" parameterType="com.shipping.domain.OrderedItem">
        INSERT
            INTO ORDEREDITEM
                (REGISTERID, ID, UNIT)
                VALUES
                (#{registerId}, #{id}, #{unit})
    </insert>

</mapper>
